* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}
.header-container {
  padding: 1rem;
  border-bottom: 1px solid #eee;
}
.header-container > p {
  color: rgba(0, 0, 0, 0.6);
}
.header-title {
  margin-bottom: 1rem;
}
.header-main-content {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.input-title {
  margin: 0 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-bottom: 2px solid rgb(145, 145, 251);
  margin-bottom: 2rem;
}
.header-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  min-width: 30rem;
}
.input-description {
  margin: 0 1rem;
  min-height: 15rem;
  padding: 0.5rem 1rem;
  border: none;
  border-bottom: 2px solid rgb(145, 145, 251);
  margin-bottom: 2rem;
}
.header-main-dashboard{
  min-width: 30rem;
  min-height: 50vh;
}
.add-new-button{
  padding: .9rem;
  background-color: blue;
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 7px;
  margin: 0 1rem
}

.add-new-button:hover{
  cursor: pointer;
  box-shadow: 3px 3px 10px #999999;
}

.each-note-container{
  min-width: 40rem;
  margin: 2rem 1rem;
  box-shadow: 1px 1px 4px #999999;
  border-radius: 4px
}
.each-note-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  background-color: #f1f1f1;
  margin-bottom: 1rem;
}

.each-note-header>button{
  background: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: #999999
}

.each-note-description{
  padding: 1rem
}